{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class=" py-5 row">
        <div class="col-md-12 order-md-1">
            {% for role in current_user.role %}
                {% if role.roles.name == 'Admin' %}
                    <a class="nav-item nav-link btn btn-primary" href="{{ url_for('dashboard.dashboard_make_page', Id=0) }}">New</a>
                {% endif %}
            {% endfor %}
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Pages</span>
                <span class="badge badge-secondary badge-pill">{{ Pages|length }}</span>
            </h4>
            <ul class="list-group mb-3">

                {% for item in Pages %}
                <a href="{{ url_for('main.pages_open', page=item.endpoint)}}">
                    <li class="list-group-item d-flex justify-content-between lh-condensed" style="background-color: ">
                        <div>
                            <div style="position: absolute; left:15px; text-align: center; padding:15px 10px; font-size:20px;" class="row item">
                            </div>
                            <div class="px-5 row item">
                                <div class="row">
                                    <h6 style="white-space: nowrap;" class="my-0">{{ item.title }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <span style="white-space: nowrap;" class="text-muted">{{ item.date_posted }}</span>
                            {% for role in current_user.role %}
                                {% if role.roles.name == 'Admin' %}
                                        <a class="nav-item nav-link btn btn-primary" href="{{ url_for('dashboard.dashboard_make_page', Id=item.id) }}">Edit</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                </a>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}

