{% extends 'admin/master.html' %}
{% block body %}
<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
<main role="main">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('dashboard.dashboard_home') }}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.dashboard_orders') }}">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.dashboard_products') }}">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              {% for role in current_user.role %}
                {% if role.roles.name == 'Admin' %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard.calculations') }}">
                      <span data-feather="file"></span>
                      calculations
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.dashboard_coming_soon') }}">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.dashboard_coming_soon') }}">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.dashboard_coming_soon') }}">
                  <span data-feather="settings"></span>
                  Settings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.help_page') }}">
                  <span data-feather="help-circle"></span>
                  Help
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li> -->
            </ul>
          </div>
        </nav>

        {% block inner %}{% endblock inner %}


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    <script>
      feather.replace()
    </script>
  </div>
</div>
</main>
{% endblock body %}
