{% extends "admin/Dashboard/dashboard_base.html" %}
{% block inner %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <h2>Orders</h2>
  <div class="table-responsive">
    <h6></h6>
      <table class="table table-striped table-sm">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>User Name</th>
                  <th>Actions</th>
              </tr>
        </thead>
        <tbody>
          {% for order in Orders %}
            {% if order.OrderStatus_data.name != 'Done' %}
              <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date }} - {{ order.order_date|datetimeelapsedformat }}</td>
                <td>{{ order.OrderStatus_data }}</td>
                <td>{{ order.user_data.username }}</td>
                <td>
                    <a href="{{ url_for('dashboard.dashboard_orders_action', Action='StepStatus', id=order.id) }}" rel="tooltip" title="Advance Order Status"><span data-feather="truck"></span></a>
                    <a href="{{ url_for('dashboard.dashboard_orders_action', Action='StepDownStatus', id=order.id) }}" rel="tooltip" title="Reverse Order Status"><span data-feather="skip-back"></span></a>
                    <a href="{{ url_for('dashboard.dashboard_orders_action', Action='MADone', id=order.id) }}" rel="tooltip" title="Set Order Status To Done"><span data-feather="check-square"></span></a>
                    <a href="mailto:{{ order.user_data.email }}" rel="tooltip" title="Send Email To Customer"><span data-feather="mail"></span></a>
                    <a href="{{ url_for('dashboard.order_info', id=order.id) }}" rel="tooltip" title="See Order Info"><span data-feather="info"></span></a>
                  </td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for order in Orders %}
            {% if order.OrderStatus_data.name == 'Done' %}
              <tr>
                <td><font color="green">{{ order.id }}</font></td>
                <td><font color="green">{{ order.order_date }} - {{ order.order_date|datetimeelapsedformat }}</font></td>
                <td><font color="green">{{ order.OrderStatus_data }}</font></td>
                <td><font color="green">{{ order.user_data.username }}</font></td>
                <td>
                    <a href="{{ url_for('dashboard.dashboard_orders_action', Action='StepDownStatus', id=order.id) }}" rel="tooltip" title="Reverse Order Status"><span data-feather="skip-back"></span></a>
                    <a href="mailto:{{ order.user_data.email }}" rel="tooltip" title="Send Email To Customer"><span data-feather="mail"></span></a>
                    <a href="{{ url_for('dashboard.order_info', id=order.id) }}" rel="tooltip" title="See Order Info"><span data-feather="info"></span></a>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if Orders|length == 0 %}
      <p>Sorry we cant find what you are looking for! Please enter a different search and try again.</p>
      {% endif %}
  </div>
</main>
<script type="text/javascript">
  $(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});
</script>
{% endblock inner %}
