<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <main role="main" class="container">
        <div class="py-5">
            <img src="https://cdn.discordapp.com/attachments/781945237752119327/801530294724591686/Screenshot_20201202_120526.png">
            <h1><strong>Step No Further!</strong></h1>
            <p>You don't have permission to view this page</p>
            <p><a href="{{ url_for('main.home') }}">go somewhere nice</a></p>
        </div>
    </main>

</body>
</html>


